p {
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 0;
  }
  .video-title {
   font-weight: bold;
   font-size: 18px;
   width: 280px;
   line-height: 24px;
   margin-bottom: 5px;
  
  }

  .video-stats 
  {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 0;
    margin-bottom: 0;

  }

  .video-author 
  {
    font-size: 14px;
    color:  rgb(96, 96, 96);
    margin-top: 15;
    margin-bottom: 20px;
  }

  .video-description 
  {
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 280px;
    line-height: 22px;
    margin-top: 20px;
  
  }

  .apple-text 
  {
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(277, 65, 64);
    width: 500px;
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    text-decoration: ;

  }
  .shop-link {
    cursor: pointer;
      }

  .shop-link:hover {
    text-decoration: underline;
  }
